.miracle-slider{
	&__nav{
		text-align: center;
		margin-bottom: 3rem;
	}
	&__dot{
		outline: none;
		border-radius: 100%;
		width: 0.8rem;
		height: 0.8rem;
		padding: 0;
		background-color: transparent;
		margin: 1rem 2rem;
		border: 1px solid map-get($color, white);
		transition: all .3s ease;
		&:hover{
			transform: scale(2);
			background-color: map-get($color, white);
		}
		&_active{
			background-color: map-get($color, white);
			&:hover{
				cursor: default;
				transform: scale(1);
			}
		}
	}
	&__outer{
		width: 100%;
		margin-bottom: 0.5rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__next{
		background-color: transparent;
		border: 2px solid map-get($color,white);
		color: map-get($color, white);
		border-radius: 100%;
		padding: 0;
		width: 6.9rem;
		height: 6.9rem;
		margin: 12.5rem 0.5rem 12rem;
		outline: none;
		transition: all .3s ease;
		i{
			font-size: 3rem;
			line-height: 6.9rem;
			@media ( max-width: map-get($gw, medium ) ) {
				font-size: 2rem;
				line-height: 3rem;
			}
		}
		&:hover{
			border-color: map-get($color,gray);
			color: map-get($color,gray);
			background-color: map-get($color, white);
		}
		&:active{
			border-color: map-get($color,gray);
			color: map-get($color,gray);
			background-color: map-get($color, white);
			transform: scale(0.7);
		}
		@media ( max-width: map-get($gw, medium ) ) {
			width: 4rem;
			height: 4rem;
			margin: auto 0.5rem;
		}
	}
	&__prev{
		background-color: transparent;
		border: 2px solid map-get($color,white);
		color: map-get($color, white);
		border-radius: 100%;
		padding: 0;
		width: 6.9rem;
		height: 6.9rem;
		margin: 12.5rem 0.5rem 12rem;
		outline: none;
		transition: all .3s ease;
		i{
			font-size: 3rem;
			line-height: 6.9rem;
			@media ( max-width: map-get($gw, medium ) ) {
				font-size: 2rem;
				line-height: 3rem;
			}
		}
		&:hover{
			border-color: map-get($color,gray);
			color: map-get($color,gray);
			background-color: map-get($color, white);
		}
		&:active{
			border-color: map-get($color,gray);
			color: map-get($color,gray);
			background-color: map-get($color, white);
			transform: scale(0.7);
		}
		@media ( max-width: map-get($gw, medium ) ) {	width: 4rem;
			height: 4rem;
			margin: auto 0.5rem;

		}
	}
	&__icon-zoom{
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) scale(0.2);
		color: map-get($color, primary);
		font-size: 8rem;
		opacity: 0;
		transition: all .4s ease;
	}
	&__content{
		width: 57.5rem;
		overflow: hidden;

		@media ( max-width: map-get($gw, medium ) ) {
			width: 18rem;
		}
	}
	&__stage{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		transition: all .6s cubic-bezier(0.1, 0.55, 0.4, 0.9);
	}
	&__slide{
		position: relative;
		overflow: hidden;
		margin-right: 5rem;
		width: 26.2rem;
		height: 35.6rem;
		flex-shrink: 0;
		cursor: pointer;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .4s ease;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( map-get($color, black), 0);
			transition: all .4s ease;
		}
		&:hover{
			img{
				transform: scale(1.25);
			}
			&:after{
				background-color: rgba( map-get($color, black), 0.6);
			}
			i{
				opacity: 1;
				transform: translateX(-50%) translateY(-50%) scale(1);
			}
		}
		&_modal{
			position: fixed;
			top: 0;
			z-index: 999;
			left: 0;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
			background-color: rgba(78, 120, 159, 0.9);
			transform: none;
			padding: 0;
			transition: all .3s ease;
			img{
				box-shadow: 0px 0px 20px 2px black;
				max-height: 70vh;
				cursor: auto !important;
			}
			&:after{
				content: "\ea0f";
				font-family: 'icomoon' !important;
				border: none;
				outline: none;
				line-height: 0;
				position: absolute;
				right: 5rem;
				top: 5rem;
				font-size: 3rem;
				padding: 0;
				color: map-get($color, white);
				&:hover{
					background-color: map-get($color, primary);
					color: map-get($color, white);
				}
				&:active{
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
		&_show{
			opacity: 1;
		}

		@media ( max-width: map-get($gw, medium ) ) {
			width: 18rem;
			height: 25.5rem;
			margin-right: 1rem;
		}
	}
}
