.sertificate{
    padding: 7.5rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }
    &__block-title{
        text-align: center;
    }
    &__slider{

    }
}
