.about-us{
    background-position: center;
    background-size: cover;
    position: relative;

    &__container{
        max-width: map-get($gw, large);
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        & > *:not(.about-us__circle-card){
            width: 50%;
            flex-basis: 50%;
            @media ( max-width: map-get($gw, medium ) ) {
                flex-basis: 100%;
            }
        }

        &_abs-image{
            @media ( min-width: map-get($gw, medium ) ) {
                &:before{
                    content: "";
                    position: relative;
                    flex-basis: 50%;
                    // width: 50%;
                }
                .about-us__image{
                    position: absolute;
                    left: 0;
                    width: 50%;
                    height: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    max-height: 100%;
                    object-fit: contain;
                    object-position: left;
                }
                .about-us__info{
                    // width: 50%;
                }
            }
        }

        @media ( max-width: map-get($gw, large ) ) {
            padding: 0 1rem;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            flex-wrap: wrap-reverse;
        }
    }

    &__image{
        height: auto;
        pointer-events: none;
        &_pull-down{
            align-self: flex-end;
        }
        &_pull-up{
            align-self: flex-start;
            @media ( max-width: map-get($gw, medium ) ) {
                align-self: flex-end;
            }
        }

        @media ( max-width: map-get($gw, medium ) ) {
            width: 100%;
        }
    }

    &__info{
        padding: 7.8rem 0;
        &_nobotpadding{
            padding: 7.8rem 0 0;
            @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
                padding: 7.8rem 0;
            }
        }

        @media ( max-width: map-get($gw, medium ) ) {
            width: 100%;
            flex-basis: 100%;
            padding: 7.8rem 0 1rem;
        }
    }

    &__circle-card{
        align-self: flex-end;
        float: right;
        position: relative;
        margin-top: 4rem;
        padding-bottom: 7.8rem;

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            display: none;
        }
    }

    @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
        .miracle-subtitle{
            font-weight: 200;
            font-size: 2.2rem;
            line-height: 1.2;
            br{
                display: none;
            }
        }

        .miracle-content{
            display: none;
        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        .miracle-title{
            font-size: 2.6rem;
            text-align: center;
            line-height: 1.25;
            margin-left: 0;
            br{
                display: none;
            }
        }

        .miracle-subtitle{
            display: none;
        }

        .miracle-content{
            font-weight: 200;
            text-align: center;
            margin-left: 0;
            br{
                display: none;
            }
        }

        .miracle-button{
            display: block;
            margin: 0 auto;
        }
    }

    &_hide-mobile{
        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }
}
