.circle-card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    &__block{
        width: 27rem;
        height: 27rem;
        background-color: rgba( map-get($color, black), 0.85 );
        border-radius: 100%;
        margin-right: 2.7rem;

        display: flex;
        flex-direction: row;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;

        &-title{
            margin: 0;
            font-size: 8rem;
            flex-basis: 100%;
            line-height: 0.7;
            margin-bottom: 2.5rem;
            color: map-get($color, primary);
        }

        &-content{
            margin: 0;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 200;
            margin-bottom: 2.5rem;
            color: map-get($color, white);
            flex-basis: 100%;
        }
    }

    @media ( max-width: map-get($gw, large ) ){
        display: none;
    }

}
