.info-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem 0 1.8rem;
    min-height: 42rem;
    margin: 0;
    & > *{
        flex-basis: calc( 50% - 2px );
        @media ( max-width: map-get($gw, medium ) ) {
            flex-basis: calc( 50% - 2px - 2rem );
            max-width: calc( 50% - 2px - 2rem );
        }
    }
    &__block{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        & > *{
            flex-basis: 100%;
        }
        &:nth-of-type(-n+2){
            border-bottom: 1px solid map-get($color, light-gray);
        }
        &:nth-of-type(-2n+3){
            border-right: 1px solid map-get($color, light-gray);
        }
        &-title{
            margin: 0;
            font-size: 8.2rem !important;
            font-weight: normal;
            flex-basis: 100%;
            line-height: 1;
            margin-bottom: 1.2rem;
            color: map-get($color, primary);

            @media ( max-width: map-get($gw, large ) ) {
                font-size: 6.2rem !important;
            }
        }
        p.info-grid__block-title{
            font-weight: 900;
        }
        &-content{
            margin: 0;
            font-size: 2rem;
            font-weight: 900;
            color: map-get($color, black);
            @media ( max-width: map-get($gw, large ) ) {
                font-size: 1.6rem;
            }
            @media ( max-width: map-get($gw, medium ) ){
                & > br{
                    display: none;
                }
            }
        }

        @media ( max-width: map-get($gw, medium ) ) {
            padding: 1rem;

        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        padding: 0;
    }
}
