.send-app{

    &__title{
        font-weight: 900;
        font-size: 4.2rem;
        margin: 0 0 0.8rem 0.5rem;
        text-transform: uppercase;
        line-height: 4.7rem;
        color: map-get($color, primary);

        @media ( max-width: map-get( $gw, medium ) ){
            font-size: 2.8rem;
            line-height: 1.25;
        }
    }

    &__subtitle{
        font-weight: 900;
        font-size: 2.6rem;
        margin: 0 0 0 0.3rem;
        line-height: 3.4rem;
        color: map-get($color, white);

        @media ( max-width: map-get( $gw, medium ) ){
            font-size: 2rem;
            line-height: 1.25;
        }
    }

    &__content{
        font-weight: 200;
        font-size: 2.6rem;
        margin: 0 0 2.5rem 0.3rem;
        line-height: 1.2;
        color: map-get($color, white);

        @media ( max-width: map-get( $gw, medium ) ){
            font-size: 1.8rem;
            line-height: 1.25;
        }
    }

    @media ( max-width: map-get( $gw, medium ) ){
        padding: 3rem 1rem;
        text-align: center;
    }
}
