.support{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.7rem 1rem;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }

    &__block-title{
        margin-left: 0;
        text-align: center;
    }

    &__slider{
        .miracle-slider{
            &__dot{
                border: 1px solid map-get($color, gray);
                &:hover{
                    border-color: map-get($color, primary);
                    background-color: map-get($color, primary);
                }
                &_active{
                    border-color: map-get($color, primary);
                    background-color: map-get($color, primary);
                }

                @media ( max-width: map-get($gw, medium ) ){
                    display: none;
                }
            }
            &__slide{
                width: 28rem;
                margin-right: 5rem;
                height: 12rem;
                img{
                    object-fit: contain;
                    object-position: center;
                    pointer-events: none;
                }
                filter: grayscale(100%);
                transition: all .3s ease;
                &:after{
                    display: none;
                }
                &:hover{
                    filter: grayscale(0%);
                    img{
                        transform: scale(1.05);
                    }
                }

                @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
                    width: 23rem;
                    margin-right: 1rem;
                    height: 10rem;
                }

                @media ( max-width: map-get($gw, medium ) ) {
                    width: 17rem;
                    height: auto;
                    margin-right: 1rem;
                }
            }
            &__outer{
                background-color: map-get($color, white);
                border-radius: 1rem;

                @media ( max-width: map-get($gw, medium ) ) {
                    background-color: transparent;
                }
            }
            &__content{
                width: calc( 100% - 26rem );

                @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
                    width: 47rem;
                }

                @media ( max-width: map-get($gw, medium ) ) {
                    width: 17rem;
                }
            }
            &__prev{
                border-color: map-get($color, gray);
                color: map-get($color, gray);
                &:hover{
                    border-color: map-get($color, primary);
                    color:  map-get($color, primary);
                }
            }
            &__next{
                border-color: map-get($color, gray);
                color: map-get($color, gray);
                &:hover{
                    border-color: map-get($color, primary);
                    color:  map-get($color, primary);
                }
            }
        }
    }
}
