.price-list-tab{
        display: flex;
        flex-direction: column;

        &__button{
            background-color: #092632;
            padding: 2rem 2.5rem;
            border-radius: 1rem;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            transition: all .4s ease;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }

        &__content{
            position: relative;
            overflow: hidden;
            z-index: 1;
            top: -1.5rem;
            padding: 0px 4.4rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            transition: all .4s ease;
            background-color: map-get($color, white);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &-right{
                text-align: center;

                @media ( max-width: map-get($gw, medium ) ) {
                    margin: 0 auto;
                }
            }

            &-left{
                @media ( max-width: map-get($gw, medium ) ) {
                    width: 100%;
                }
            }

            @media ( max-width: map-get($gw, medium ) ) {
                flex-wrap: wrap;
                padding: 0px 2rem;
            }
        }

        &__icon{
            font-size: 7rem !important;
            color: map-get($color, primary);
            font-style: normal;

            @media ( max-width: map-get($gw, medium ) ) {
                font-size: 4rem !important;
            }
        }

        &__icon-chevron{
            font-size: 4rem;
            color: map-get($color, primary);
            font-style: normal;
            transform: rotate(0deg);
            transition: all .4s ease;
        }

        &__title{
            font-size: 2.2rem;
            text-transform: uppercase;
            font-weight: 900;
            color: map-get($color, primary);
            margin: 0 auto 0 5.5rem;
            & > br{
                display: none;
            }

            @media ( max-width: map-get($gw, medium ) ) {
                margin: 0 1rem;
                font-size: 1.6rem;
            }
        }

        &__service-list{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__service-item{
            font-size: 1.8rem;
            font-weight: 200;
            color: map-get( $color, gray);
            margin-bottom: 0.8rem;
        }

        &__check-icon{
            margin-right: 1rem;
            color: map-get($color, primary);
        }

        &__price{
            margin: 0;
            color: map-get($color, gray);
            font-weight: 200;
            font-size: 3.2rem;
            margin-bottom: 2.2rem;
        }

        &__price_color{
            color: map-get($color, primary);
            font-weight: 900;
        }

        &__block{
            margin-bottom: 1.5rem;
            &_active{
                .price-list-tab__content{
                    padding: 4.4rem 4.4rem 3.2rem;
                }
                .price-list-tab__icon-chevron{
                    transform: rotate(180deg);
                }
            }
        }
}
