.price-list-card-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__block{
            background-color: rgba( map-get($color, black), 0.8 );
            flex-basis: calc(100% / 3 - 10rem);
            padding: 5.5rem 4rem 3.3rem;
            border-radius: 1rem;
            margin-left: 0.65rem;
            margin-right: 0.65rem;
            margin-bottom: 2rem;
            text-align: center;
            transition: all .3s ease;

            &:hover{
                transform: scale(1.07);
                box-shadow: 0 0 1.5rem 0.1rem map-get($color, black);
            }

            &_zoom{
                transform: scale(1.07);
                box-shadow: 0 0 1.5rem 0.1rem map-get($color, black);
            }
        }

        &__icon{
            font-size: 11rem !important;
            color: map-get($color, primary);
            font-style: normal;
        }

        &__title{
            margin: 2.2rem 0 2.1rem;
            font-size: 2.6rem;
            text-transform: uppercase;
            font-weight: 900;
            color: map-get($color, primary);
        }

        &__service-list{
            margin: 0;
            padding: 0;
            margin-bottom: 3.2rem;
            list-style: none;
        }

        &__service-item{
            font-size: 1.8rem;
            font-weight: 200;
            color: map-get( $color, white);
            margin-bottom: 0.8rem;
        }

        &__check-icon{
            margin-right: 1rem;
            color: map-get($color, primary);
        }

        &__price{
            margin: 0;
            color: map-get($color, white);
            font-weight: 200;
            font-size: 3.2rem;
            margin-bottom: 3.2rem;
        }

        &__price_color{
            color: map-get($color, primary);
            font-weight: 900;
        }
}
