.price-list{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7.5rem 1rem 7.9rem;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }

    &__block-title{
        text-align: center;
        margin: 0 0 6.9rem;

        @media ( max-width: map-get($gw, medium ) ) {
            line-height: 1.25;
            font-size: 2.6rem;
            margin-bottom: 3.5rem;
        }
    }

    &__cards{
        width: 100%;
        padding: 2rem 0 0;
    }
}
