.post-develop-card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;

    a{
        text-decoration: none;
    }

    &__content{
        padding: 6rem;
        border-radius: 1rem;
        position: relative;
        background: linear-gradient(to bottom, rgba(map-get($color, black),0) 0%, rgba(map-get($color, black),0) 60%, rgba(map-get($color, black),0.7) 100%);
        min-height: 36rem;
        text-align: center;
        transition: all .4s ease;

        @media ( max-width: map-get($gw, large ) ) {
            padding: 0 1rem;
            min-height: 35rem;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            border-radius: 0;
        }

        &:hover{
            background: rgba( map-get($color, black), 0.7 );

            .post-develop-card__content-block{
                top: 50%;
                transform: translateY( -50% );

                .miracle-button{
                    opacity: 1;
                }
            }
        }
    }

    &__content-block{
        position: absolute;
        width: calc( 100% - 12rem );
        top: calc( 100% + 4.5rem );
        transform: translateY( -100% );
        transition: all .4s ease;

        @media ( max-width: map-get($gw, large ) ) {
            width: calc( 100% - 2rem );
        }

        .miracle-button{
            opacity: 0;
            // transition: all .3s ease;
        }
    }

    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 14rem;
        margin-bottom: 2rem;

        &-time, &-date{
            margin: 0;
            color: map-get($color, white);
            font-weight: 400;
            font-size: 1.4rem;

            i{
                font-size: 1.25em;
                margin-right: 0.5rem;
                top: 3px;
                position: relative;
                color: map-get( $color, primary );
                transition: all .4s ease;
            }
        }

        @media ( max-width: map-get($gw, large ) ) {
            display: none;
        }
    }

    &__description{
        font-size: 2.4rem;
        font-weight: 900;
        color: map-get($color, white);
        margin: 0 0 2rem;
        text-align: center;
        transition: all .4s ease;

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
            font-size: 1.8rem;
        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        border-radius: 0;
    }
}
