.single-body .single-body__content{
    img{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        height: auto;
        background: radial-gradient(ellipse at center,rgba( map-get($color, light-gray),0) 0%, rgba( map-get($color, light-gray),1) 100%);
        margin: 0 auto 3rem;

        &.alignnone{
            max-width: 100%;
            margin: 0 0 3rem 0;
        }
    }
}
