.archive-body{
    padding-top: 6rem;
    padding-bottom: 4rem;

    @media ( min-width: map-get( $gw, medium ) ) and ( max-width: map-get( $gw, large ) ){
        padding: 6rem 1rem 4rem;
    }

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }

    &__content-posts{
        margin: 0 0 4rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.7rem;

        @media ( max-width: map-get( $gw, medium ) ) {
            grid-template-columns: 1fr;
            grid-gap: 0;
            margin: 0;
        }
    }

    &__pagenation{
        @media ( max-width: map-get( $gw, medium ) ) {
            justify-content: space-around;
            margin-top: 4rem;
        }
    }
}
