.bottom-form{
    padding: 8rem 1rem;
    background-color: transparent;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__send-form{
        width: 27rem;
        background: rgba( map-get($color, black), 0.8 );
        border-radius: 1rem;
        padding: 3.5rem 5rem;
        position: relative;
    }

    &_hide-medium{
        @media ( max-width: map-get($gw, large ) ) {
            display: none;
        }
    }
}
