.send-form{
    &__title{
        margin: 0;
        text-align: center;
        font-weight: 900;
        color: map-get($color, primary);
        text-transform: uppercase;
        font-size: 2.6rem;
        margin-bottom: 2.6rem;

        &_text-left{
            text-align: left;
        }

        &_font-big{
            font-size: 3.6rem;
            margin-bottom: 2.2rem;;
        }

        @media ( max-width: map-get($gw, medium ) ){
            font-size: 2.6rem;
            text-align: center;

            & > br{
                display: none;
            }
        }
    }

    &__subtitle{
        margin: 0;
        color: map-get($color, white);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.25;

        &_text-left{
            text-align: left;
        }

        &_font-big{
            font-size: 2rem;
        }

        &_text-gray{
            color: map-get($color, dark-gray);
        }

        @media ( max-width: map-get($gw, medium ) ){
            font-size: 1.6rem;
            text-align: center;

            & > br{
                display: none;
            }
        }
    }

    &__input{
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: 2px solid map-get($color, primary);
        outline: none;
        font-weight: 200;
        font-size: 1.8rem;
        padding-left: 0.5rem;
        font-style: normal;
        color: map-get($color, white);

        &_color-gray{
            color: map-get($color, dark-gray);
        }
    }

    &__input-block{
        margin-bottom: 0.7rem;
    }

    &__input-block label{
        display: flex;
        flex-wrap: wrap;
    }

    &__label{
        position: relative;
        cursor: text;
        font-weight: 200;
        margin: 0;
        font-size: 1.8rem;
        font-style: italic;
        color: map-get($color, white);
        padding-left: 0.5rem;
        transition: all .3s ease;
        transform: translateY(125%) scale(1) translateX(0%);

        &_focus{
            transform: translateY(0%) scale(0.5) translateX(-50%);
        }

        &_color-gray{
            color: map-get($color, dark-gray);
        }
    }

    &__submit{
        margin-top: 7.2rem;
        & [type="submit"]{
            width: 100%;
        }

        &_modal{
            width: 25.2rem;
            margin-top: 17.9rem;
        }

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            margin-top: 4rem;
        }

        @media ( max-width: map-get($gw, medium ) ){
            margin-top: 3rem;
        }
    }

}
