.step-card{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

    @media ( max-width: map-get($gw, medium ) ) and ( min-width: 450px ) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    @media ( max-width: 450px ) {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    &__block{
        background: map-get($color, white);
        border-radius: 1rem;
        padding: 2.5rem 1rem 3.8rem;
        text-align: center;

        @media ( max-width: map-get($gw, large ) ) {
            background: transparent;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            padding: 2rem 1rem;
        }
    }

    &__icon{
        margin: 0 auto;
        border-radius: 100%;
        width: 14.7rem;
        height: 14.7rem;
        display: flex;
        i{
            margin: auto;
            color: map-get($color, white);
            font-size: 13rem;
            font-style: normal;

            &.fa{
                font-size: 8rem;
            }
        }

        @media ( max-width: map-get($gw, large ) ) {
            width: 12rem;
            height: 12rem;

            i{
                font-size: 10rem;
            }
        }
    }

    &__title{
        margin: 2rem 0 0.8rem;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: map-get($color, primary);

        @media ( max-width: map-get($gw, large ) ) {
            font-size: 1.8rem;
            font-weight: 200;
            color: map-get($color, black);
            text-transform: none;

            & > br{
                display: none;
            }
        }
    }

    &__content{
        margin: 0;
        font-size: 1.6rem;
        font-weight: 400;
        color: map-get($color, gray);

        @media ( max-width: map-get($gw, large ) ) {
            display: none;
        }
    }
}
