.work-step{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7.5rem 1rem 8.2rem;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }

    &__block-title{
        text-align: center;
        margin: 0 0 6.8rem;

        @media ( max-width: map-get($gw, medium ) ) {
            font-size: 2.6rem;
            margin-bottom: 2rem;
        }
    }
}
