.company-info{
    position: relative;

    &__title{
        font-weight: 900;
        font-size: 1.8rem;
        margin: 0 0 0.6rem;
        color: map-get($color, white);
    }

    &__content{
        font-weight: 200;
        font-size: 1.8rem;
        margin: 0;
        color: map-get($color, white);
    }

    &__icon{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        color: map-get($color, primary);
        width: 3.5rem;
        transform: translateX(-110%);
        text-align: center;
    }

    @media ( max-width: map-get($gw, large ) ){
        display: none;
    }

}
