.firm-contacts{
    text-align: right;
    &__title{
        font-weight: 900;
        font-size: 3rem;
        margin: 0 0 0.3rem;
        color: map-get( $color, white );

        @media ( max-width: map-get($gw, large ) ){
            font-size: 2.6rem;
        }
    }
    &__link{
        font-weight: 200;
        font-size: 1.8rem;
        color: map-get( $color, white);
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: rgba( map-get($color, white), 1 );
        transition: all .3s ease;
        &:hover{
            text-decoration-color: rgba( map-get($color, white), 0 );
        }

        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        flex-basis: 100%;
        text-align: left;
    }
}
