.header{
    padding: 2.5rem 1.5rem 0;
    border-bottom:  1px solid map-get( $color, white );
    z-index: 5;
    position: relative;
    .header{
        &__top-info{
            max-width: map-get( $gw, large );
            // margin: 0 auto 1.1rem;
            margin: 0 auto 4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            @media ( max-width: map-get($gw, medium ) ) {
                flex-wrap: wrap;
                position: relative;
            }
        }
        &__top-info-company{
            margin-top: 0.6rem;
        }
        &__top-info-phone{
            margin-top: 0.7rem;
        }
        &__top-menu{
            max-width: map-get( $gw, large );
            margin: 0 auto;
        }
    }

    &__top-mobile-menu-button{
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: map-get($color, primary);
        transform: rotate(90deg);
        font-size: 4rem;
        cursor: pointer;

        @media ( min-width: map-get($gw, medium ) ) {
            display: none;
        }
    }
}
