.logotype{
    &__image{
        max-width: 27rem;
        max-height: 6rem;

        @media ( max-width: map-get($gw, medium ) ) {
            max-width: 20rem;
            max-height: 4.5rem;
        }
    }
    &__text{
        margin: 0;
        letter-spacing: 0.025rem;
        margin-left: 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: map-get($color, white);

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
            margin: 0;
        }
    }
}
