.mobile-menu{
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: map-get($color, primary);
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    align-items: center;
    transition: all .3s ease;
    justify-content: center;

    &__item{
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;

        &:nth-last-of-type(1) .mobile-menu__link{
            border: none;
        }
    }

    &__link{
        text-decoration: none;
        color: map-get($color, white);
        font-weight: 200;
        font-size: 2.5rem;
        padding: 0.5em;
        border-bottom: 1px solid;
        display: block;
    }

    &__close-button{
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: transparent;
        padding: 1rem;
        font-size: 3rem;
        color: white;
        line-height: 0.5;
        outline: none;
    }

    &_active{
        transform: translateY(0%);
    }

    @media ( min-width: map-get($gw, medium ) ) {
        display: none;
    }
}
