.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;

    &__link{
        padding: 2rem 5rem 3.3rem;
        color: map-get( $color, white );
        text-decoration: none;
        font-size: 1.8rem;
        margin: 0;
        cursor: pointer;
        transition: color .3s ease;
        &:hover{
            color: map-get( $color, primary );
        }

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            padding: 2rem 0 3.3rem;
        }
    }
    a.top-menu__link{
        position: relative;
        display: inline-block;
    }

    &__drop{
        position: absolute;
        bottom: 0;
        transform: translateY(50%) rotateX(90deg);
        width: 100%;
        background-color: rgba(0,0,0,0);
        margin: 0;
        padding: 0;
        list-style: none;
        pointer-events: none;
        transition: all .2s ease;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        width: 32.5rem;
        li{
            padding: 0.8rem 0 1rem;
            border-bottom: 1px solid map-get($color, white);
            &:nth-last-of-type(1){
                border-bottom: none;
            }
            .top-menu__link{
                padding: 0.8rem 1rem 1rem 5rem;
                top: 0;
            }
        }
    }

    &__item{
        &:nth-of-type(1), &:nth-last-of-type(1){
            display: none;
        }
        &:nth-of-type(2) .top-menu__link{
            padding-left: 0;
        }
        &:nth-last-of-type(2) .top-menu__link{
            padding-right: 0;
        }
        &[data-dropdown]{
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            transition: all .2s ease;
            position: relative;
            background-color: rgba(0,0,0,0);
            &:hover{
                background-color: rgba(0,0,0,0.5);
                .top-menu__drop{
                    transform: translateY(100%) rotateX(0deg);
                    background-color: rgba(0,0,0,0.5);
                    pointer-events: inherit;
                }
            }
            & > a{
                text-decoration: none;
            }
        }
        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }

    &_scroll{
        padding: 1rem;
        position: fixed;
        z-index: 100;
        width: calc( 100% - 2rem );
        max-width: none !important;
        align-items: center;
        top: 0;
        left: 0;
        animation: menuShow .5s;
        animation-fill-mode: forwards;
        background-color: rgba( map-get($color, black), 0.3 );
        transition: all .3s ease;
        &:hover{
            background-color: rgba( map-get($color, black), 0.7 );
        }
        .top-menu__item{
            &:nth-of-type(1), &:nth-last-of-type(1){
                display: block;

                @media ( max-width: 1000px ){
                    display: none;
                }
            }
            .firm-contacts__title{
                font-size: 1.8rem;
                margin-bottom: 0;
            }
            .logotype__image{
                max-width: 20rem !important;
                max-height: 4rem !important;
            }
            &[data-dropdown]{
                margin-bottom:  -1rem;
                padding-bottom: 1rem;
            }
            @media ( max-width: map-get($gw, medium ) ) {
                display: none;
                &:nth-of-type(1){
                    display: block;
                }
            }
        }
        .top-menu__link{
            padding: 1rem 1rem 1rem !important;
            margin-bottom: 0;
        }
        a.top-menu__link{
            position: relative;
            top: 0;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            .header__top-mobile-menu-button{
                display: block !important;
            }
        }
    }

    &_hide{
        animation: menuHide .5s;
        animation-fill-mode: forwards;
    }

    .header__top-mobile-menu-button{
        display: none;
    }
}

@keyframes menuShow{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes menuHide{
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}
