$color : (
	primary		:	#29a1d3,
	blue        :	#3ab1e3,
	white		:	#ffffff,
	black		:	#000000,
	gray        : 	#686868,
	light-gray 	: 	#c7c7c7,
	lighter-gray :	#808080,
	dark-gray: #595959,
	medium-gray: #313131,
	light-black: #acacac,
	medium-black: #dadada
);

$gw : (
	large: 1200px,
	medium: 750px,
	small: 480px
);
