.breadcrumbs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    &__item{
        font-size: 1.6rem;
        font-weight: 200;
        color: map-get($color, primary);
        transition: all .3s ease;
        &:hover{
            text-decoration-color: rgba( map-get($color, primary), 0 );
        }

        &_last{
            text-decoration: none;
            margin: 0;
            color: map-get($color, white);

            &:after{
                display: none;
            }
        }
    }

    &__chevron{
        color: map-get($color, white);
        font-size: 1rem;
        margin: 0 1rem;
        text-decoration: none;
        line-height: 1.9rem !important;
    }
}
