.miracle-button{
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 200;
    color: map-get($color, white);
    background-color: map-get($color, primary);
    padding: 2.6rem 5.9rem;
    border-radius: 1rem;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease;

    &:hover{
        background-color: darken( map-get($color, primary), 10);
    }
    &:active, &:focus{
        background-color: darken( map-get($color, primary), 15);
        transform: scale(0.95);
    }
}
