.miracle-content{
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 3.4rem 0.3rem;
    line-height: 1.2;
    color: map-get($color, gray);
    &_white{
        color: map-get($color, white);
    }

    @media ( max-width: map-get($gw, medium ) ) {
        margin-left: 0;
        font-size: 1.8rem;
        line-height: 1.25;
        & > br{
            display: none;
        }
    }
}
