.miracle-modal{
    width: 110rem;
    position: relative;
    margin: 0 auto 4rem;
    transform: scale(0.7);
    opacity: 0;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-color: map-get($color, gray);
    padding: 3.5rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 0 0 map-get($color, white);
    z-index: -2;
    transition: all 0.5s ease;

    @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
        width: 51rem;
    }

    @media ( max-width: map-get($gw, medium ) ){
        width: 30rem;
        padding: 0;
    }

    &__close-button{
        border: none;
        outline: none;
        line-height: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        font-size: 2rem;
        padding: 0;
        color: map-get($color, white);
        background-color: map-get($color, medium-gray);
        transition: all .3s ease;

        &:hover{
            background-color: map-get($color, primary);
            transform: rotate(360deg);
        }
        &:active{
            transform: scale(0.75);
        }

        @media ( max-width: map-get($gw, medium ) ){
            top: -0.75rem;
            right: -0.5rem;
        }
    }

    &__send-form{
        width: 40.9rem;
        text-align: left;
        padding: 5.4rem 9.7rem 3.5rem 5rem;
        background-color: map-get($color, white);
        border-radius: 1rem;

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            padding: 5rem 5rem 3.5rem;
        }

        @media ( max-width: map-get($gw, medium ) ){
            padding: 5rem 1.5rem 2rem;
        }
    }

    &_active{
        box-shadow: 0 0 15px 1px map-get($color, white);
        transform: scale(1);
        opacity: 1;
        z-index: 1002;
    }
}
