.modal{
    position: fixed;
    top: 0;
    padding: 5rem 1rem;
    width: calc( 100vw - 2rem );
    left: 0;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0);
    z-index: -1;
    transition: all 0.5s linear;
    pointer-events: none;
    &_active{
        background-color: rgba(0,0,0,0.8);
        pointer-events: inherit;
    }
    &_in{
        z-index: 1000;
    }
}
