.pagenation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media ( max-width: map-get( $gw, medium ) ) {
        justify-content: center;
    }

    &__item{
        margin: 0 1rem 0 0;
        width: 7.3rem;
        height: 7.3rem;
        border: 1px solid map-get( $color, primary );
        border-radius: 1rem;
        display: flex;

        span{
            margin: auto;
            font-size: 1.6rem;
            font-weight: 900;
        }
    }

    &__active{
        background-color: map-get($color, primary);
        span{
           color: map-get($color, white);
       }
       @media ( max-width: map-get( $gw, medium ) ){
           display: none;
       }
    }

    &__page{
        text-decoration: none;
        background-color: transparent;
        border: 1px solid map-get($color, light-black);
        transition: all .3s ease;
        span{
           color: map-get($color, light-black);
           transition: all .3s ease;
       }
       @media ( max-width: map-get( $gw, medium ) ){
           display: none;
       }

       &:hover{
           border: 1px solid map-get($color, primary);
           color: map-get($color, primary);
           span{
              color: map-get($color, primary);
          }
       }
    }

    &__center{
        background-color: transparent;
        border: 1px solid map-get($color, light-black);
        span{
           color: map-get($color, light-black);
       }
       @media ( max-width: map-get( $gw, medium ) ){
           display: none;
       }
    }

    &__next, &__prev{
        width: auto;
        text-decoration: none;
        padding: 0 5rem;

        @media ( min-width: map-get( $gw, medium ) ) and ( max-width: map-get( $gw, large ) ){
            padding: 0 1rem;
        }

        @media ( max-width: map-get( $gw, medium ) ){
            padding: 0 1rem;
            display: flex;
            margin: 0;
        }

        background-color: transparent;
        border: 1px solid map-get($color, light-black);
        transition: all .3s ease;
        span{
           color: map-get($color, light-black);
           transition: all .3s ease;
       }

       &:hover{
           border: 1px solid map-get($color, primary);
           color: map-get($color, primary);
           span{
              color: map-get($color, primary);
          }
       }
    }
}
