.miracle-subtitle{
    font-weight: 200;
    font-size: 2.8rem;
    margin: 0 0 2.5rem 0.3rem;
    line-height: 3.4rem;
    color: map-get($color, black);
    &_white{
        color: map-get($color, white);
    }
    &_primary{
        color: map-get($color, primary);
    }
}
