.miracle-title{
    font-weight: 900;
    font-size: 4.2rem;
    margin: 0 0 1.7rem 0.5rem;
    text-transform: uppercase;
    line-height: 4.7rem;
    color: map-get($color, blue);
    &_white{
        color: map-get($color, white);
    }
    &_blue{
        color: map-get($color, blue);
    }
    &_primary{
        color: map-get($color, primary);
    }
    &_small{
        font-size: 2.6rem;
        text-transform: none;

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            font-size: 2.4rem;
        }
    }
    &_uppercase{
        text-transform: uppercase;
    }

    @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
        font-size: 2.8rem;
        line-height: 1.2;
        & > br{
            display: none;
        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        font-size: 2.6rem;
        line-height: 1.25;
        margin-left: 0;
        & > br{
            display: none;
        }
    }
}
