@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ffvvco');
  src:  url('fonts/icomoon.eot?ffvvco#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ffvvco') format('truetype'),
    url('fonts/icomoon.woff?ffvvco') format('woff'),
    url('fonts/icomoon.svg?ffvvco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-font-"], [class*=" miracle-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-font-chevron-right:before {
  content: "\e929";
}
.miracle-font-chevron-left:before {
  content: "\e92a";
}
.miracle-font-chevron-down:before {
  content: "\e92b";
}
.miracle-font-chevron-up:before {
  content: "\e92c";
}
.miracle-font-cycle:before {
  content: "\e901";
}
.miracle-font-earth:before {
  content: "\e902";
}
.miracle-font-zoom:before {
  content: "\e904";
}
.miracle-font-adress:before {
  content: "\e905";
}
.miracle-font-clock:before {
  content: "\e906";
}
.miracle-font-brif:before {
  content: "\e908";
}
.miracle-font-mail:before {
  content: "\e90a";
}
.miracle-font-presentation:before {
  content: "\e90b";
}
.miracle-font-skype:before {
  content: "\e90c";
}
.miracle-font-design:before {
  content: "\e90d";
}
.miracle-font-seo2:before {
  content: "\e90e";
}
.miracle-font-web-development:before {
  content: "\e90f";
}
.miracle-font-adaptive:before {
  content: "\e910";
}
.miracle-font-comfort:before {
  content: "\e911";
}
.miracle-font-exclusive_design:before {
  content: "\e912";
}
.miracle-font-money:before {
  content: "\e913";
}
.miracle-font-scrum:before {
  content: "\e914";
}
.miracle-font-ui-ux:before {
  content: "\e915";
}
.miracle-font-seo:before {
  content: "\e916";
}
.miracle-font-smm:before {
  content: "\e917";
}
.miracle-font-yandex-google:before {
  content: "\e918";
}
.miracle-font-brif2 .path1:before {
  content: "\e919";
  color: rgb(221, 87, 77);
}
.miracle-font-brif2 .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-dogovor .path1:before {
  content: "\e91b";
  color: rgb(0, 157, 213);
}
.miracle-font-dogovor .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-prototype .path1:before {
  content: "\e91d";
  color: rgb(91, 181, 102);
}
.miracle-font-prototype .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-design2 .path1:before {
  content: "\e91f";
  color: rgb(243, 203, 0);
}
.miracle-font-design2 .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-html .path1:before {
  content: "\e921";
  color: rgb(165, 86, 133);
}
.miracle-font-html .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-programming .path1:before {
  content: "\e923";
  color: rgb(128, 199, 185);
}
.miracle-font-programming .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-promotion .path1:before {
  content: "\e925";
  color: rgb(239, 155, 160);
}
.miracle-font-promotion .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-results .path1:before {
  content: "\e927";
  color: rgb(108, 191, 228);
}
.miracle-font-results .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-font-phone:before {
  content: "\e942";
}
.miracle-font-cross:before {
  content: "\ea0f";
}
.miracle-font-checkmark:before {
  content: "\ea10";
}
