@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ffvvco');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ffvvco#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ffvvco') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ffvvco') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ffvvco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-font-"], [class*=" miracle-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-font-chevron-right {
  &:before {
    content: $miracle-font-chevron-right;
  }
}
.miracle-font-chevron-left {
  &:before {
    content: $miracle-font-chevron-left;
  }
}
.miracle-font-chevron-down {
  &:before {
    content: $miracle-font-chevron-down;
  }
}
.miracle-font-chevron-up {
  &:before {
    content: $miracle-font-chevron-up;
  }
}
.miracle-font-cycle {
  &:before {
    content: $miracle-font-cycle;
  }
}
.miracle-font-earth {
  &:before {
    content: $miracle-font-earth;
  }
}
.miracle-font-zoom {
  &:before {
    content: $miracle-font-zoom;
  }
}
.miracle-font-adress {
  &:before {
    content: $miracle-font-adress;
  }
}
.miracle-font-clock {
  &:before {
    content: $miracle-font-clock;
  }
}
.miracle-font-brif {
  &:before {
    content: $miracle-font-brif;
  }
}
.miracle-font-mail {
  &:before {
    content: $miracle-font-mail;
  }
}
.miracle-font-presentation {
  &:before {
    content: $miracle-font-presentation;
  }
}
.miracle-font-skype {
  &:before {
    content: $miracle-font-skype;
  }
}
.miracle-font-design {
  &:before {
    content: $miracle-font-design;
  }
}
.miracle-font-seo2 {
  &:before {
    content: $miracle-font-seo2;
  }
}
.miracle-font-web-development {
  &:before {
    content: $miracle-font-web-development;
  }
}
.miracle-font-adaptive {
  &:before {
    content: $miracle-font-adaptive;
  }
}
.miracle-font-comfort {
  &:before {
    content: $miracle-font-comfort;
  }
}
.miracle-font-exclusive_design {
  &:before {
    content: $miracle-font-exclusive_design;
  }
}
.miracle-font-money {
  &:before {
    content: $miracle-font-money;
  }
}
.miracle-font-scrum {
  &:before {
    content: $miracle-font-scrum;
  }
}
.miracle-font-ui-ux {
  &:before {
    content: $miracle-font-ui-ux;
  }
}
.miracle-font-seo {
  &:before {
    content: $miracle-font-seo;
  }
}
.miracle-font-smm {
  &:before {
    content: $miracle-font-smm;
  }
}
.miracle-font-yandex-google {
  &:before {
    content: $miracle-font-yandex-google;
  }
}
.miracle-font-brif2 {
    &:before {
        content: $miracle-font-brif2-path2;
    }
}
// .miracle-font-dogovor .path1 {
//   &:before {
//     content: $miracle-dogovor-path1;
//     color: rgb(0, 157, 213);
//   }
// }
// .miracle-font-dogovor .path2 {
//   &:before {
//     content: $miracle-dogovor-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-dogovor{
  &:before {
    content: $miracle-font-dogovor-path2;
  }
}
// .miracle-font-prototype .path1 {
//   &:before {
//     content: $miracle-prototype-path1;
//     color: rgb(91, 181, 102);
//   }
// }
// .miracle-font-prototype .path2 {
//   &:before {
//     content: $miracle-prototype-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-prototype {
  &:before {
    content: $miracle-font-prototype-path2;
  }
}
// .miracle-font-design2 .path1 {
//   &:before {
//     content: $miracle-design2-path1;
//     color: rgb(243, 203, 0);
//   }
// }
// .miracle-font-design2 .path2 {
//   &:before {
//     content: $miracle-design2-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-design2 {
  &:before {
    content: $miracle-font-design2-path2;
  }
}
// .miracle-font-html .path1 {
//   &:before {
//     content: $miracle-html-path1;
//     color: rgb(165, 86, 133);
//   }
// }
// .miracle-font-html .path2 {
//   &:before {
//     content: $miracle-html-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-html {
  &:before {
    content: $miracle-font-html-path2;
  }
}
// .miracle-font-programming .path1 {
//   &:before {
//     content: $miracle-programming-path1;
//     color: rgb(128, 199, 185);
//   }
// }
// .miracle-font-programming .path2 {
//   &:before {
//     content: $miracle-programming-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-programming{
  &:before {
    content: $miracle-font-programming-path2;
  }
}
// .miracle-font-promotion .path1 {
//   &:before {
//     content: $miracle-promotion-path1;
//     color: rgb(239, 155, 160);
//   }
// }
// .miracle-font-promotion .path2 {
//   &:before {
//     content: $miracle-promotion-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-promotion {
  &:before {
    content: $miracle-font-promotion-path2;
  }
}
// .miracle-font-results .path1 {
//   &:before {
//     content: $miracle-results-path1;
//     color: rgb(108, 191, 228);
//   }
// }
// .miracle-font-results .path2 {
//   &:before {
//     content: $miracle-results-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-results {
  &:before {
    content: $miracle-font-results-path2;
  }
}
.miracle-font-phone {
  &:before {
    content: $miracle-font-phone;
  }
}
.miracle-font-cross {
  &:before {
    content: $miracle-font-cross;
  }
}
.miracle-font-checkmark {
  &:before {
    content: $miracle-font-checkmark;
  }
}

