$icomoon-font-path: "icomoon/fonts" !default;

$miracle-font-chevron-right: "\e929";
$miracle-font-chevron-left: "\e92a";
$miracle-font-chevron-down: "\e92b";
$miracle-font-chevron-up: "\e92c";
$miracle-font-cycle: "\e901";
$miracle-font-earth: "\e902";
$miracle-font-zoom: "\e904";
$miracle-font-adress: "\e905";
$miracle-font-clock: "\e906";
$miracle-font-brif: "\e908";
$miracle-font-mail: "\e90a";
$miracle-font-presentation: "\e90b";
$miracle-font-skype: "\e90c";
$miracle-font-design: "\e90d";
$miracle-font-seo2: "\e90e";
$miracle-font-web-development: "\e90f";
$miracle-font-adaptive: "\e910";
$miracle-font-comfort: "\e911";
$miracle-font-exclusive_design: "\e912";
$miracle-font-money: "\e913";
$miracle-font-scrum: "\e914";
$miracle-font-ui-ux: "\e915";
$miracle-font-seo: "\e916";
$miracle-font-smm: "\e917";
$miracle-font-yandex-google: "\e918";
$miracle-font-brif2-path1: "\e919";
$miracle-font-brif2-path2: "\e91a";
$miracle-font-dogovor-path1: "\e91b";
$miracle-font-dogovor-path2: "\e91c";
$miracle-font-prototype-path1: "\e91d";
$miracle-font-prototype-path2: "\e91e";
$miracle-font-design2-path1: "\e91f";
$miracle-font-design2-path2: "\e920";
$miracle-font-html-path1: "\e921";
$miracle-font-html-path2: "\e922";
$miracle-font-programming-path1: "\e923";
$miracle-font-programming-path2: "\e924";
$miracle-font-promotion-path1: "\e925";
$miracle-font-promotion-path2: "\e926";
$miracle-font-results-path1: "\e927";
$miracle-font-results-path2: "\e928";
$miracle-font-phone: "\e942";
$miracle-font-cross: "\ea0f";
$miracle-font-checkmark: "\ea10";

