.choose-us{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5rem 1rem 6.2rem;

    &__block-title{
        text-align: center;
        margin-left: 0;

        @media ( max-width: map-get($gw, medium ) ) {
            line-height: 1.25;
            font-size: 2.6rem;
        }
    }

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
    }

}
