.choose-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    &__block{
        position: relative;
        flex-basis: calc( 100% / 3 - 15rem );
        height: 175px;
        padding: 0.5rem 3.5rem 0 11.5rem;
        margin: 4.5rem 0 1.5rem;

        @media ( max-width: map-get($gw, large ) ) {
            text-align: center;
            padding: 0.5rem 0;
            margin: 2rem 0 0;
            flex-basis: calc( 100% / 3 - 6rem );
        }
        @media ( max-width: map-get($gw, medium ) ) {
            flex-basis: 50%;
            max-width: 50%;
        }
    }

    &__icon{
        position: absolute;
        top: -1.2rem;
        left: 11.5rem;
        font-size: 8rem !important;
        line-height: 1;
        color: map-get($color, primary);
        transform: translateX(-105%);
        width: 12rem;
        text-align: center;

        @media ( max-width: map-get($gw, large ) ) {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(0);
            font-size: 6rem !important;
        }
    }

    &__title{
        text-transform: uppercase;
        color: map-get($color, primary);
        font-weight: 900;
        font-size: 2rem;
        margin: 0 0 1.7rem 0.3rem;

        @media ( max-width: map-get($gw, large ) ) {
            font-weight: 200;
            margin-left: 0;
            font-size: 1.5rem;
            color: map-get($color, white);
            text-align: center;
            margin-top: 2rem;
        }
    }

    &__content{
        color: map-get($color, white);
        font-weight: 200;
        font-size: 1.8rem;
        margin: 0 0 0 0.4rem;
        line-height: 1.25;

        @media ( max-width: map-get($gw, large ) ) {
            display: none;
        }
    }
}
