.yandex-map{
    width: 100%;
    height: 116rem;
    margin-bottom: -116rem;
    background-color: map-get($color, gray);

    @media ( max-width: map-get($gw, large ) ) {
        height: 60rem;
        margin-bottom: 0;
    }

    @media ( max-width: map-get($gw, large ) ) {
        height: 40rem;
    }

    ymaps.ymaps-2-1-56-image {
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .ymaps-2-1-56-balloon__tail, .ymaps-2-1-56-copyrights-pane, .ymaps-2-1-56-controls__toolbar_right, .ymaps-2-1-56-controls__control_toolbar:not(.ymaps-2-1-56-user-selection-none), .ymaps-2-1-56-controls__bottom, .ymaps-2-1-56-zoom__scale{
		display: none;
	}
	.ymaps-2-1-56-float-button{
		border-radius: 100%;
		background-color: white;
	}
	.ymaps-2-1-56-controls__toolbar{
		top: 12.5rem;
	}
	.ymaps-2-1-56-zoom{
		height: 1rem !important;
	}
	.ymaps-2-1-56-controls__control{
		top: 17.5rem !important;
	}
	.ymaps-2-1-56-hint__text{
		background-color: rgba( map-get($color, white), 0.75 );
		color: map-get($color, black);
		font-weight: 600;
		font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
		border-radius: 1rem;
	}
	.ymaps-2-1-56-hint{
		border-radius: 1rem;
	}
}
