.service-list{
	&__service{
		i{
			font-size: 1.5em;
			position: relative;
			top: 0.15em;
			margin-right: 3rem;
			color: map-get( $color, primary );

			@media ( max-width: 1000px ) {
				display: none;
			}
		}
	}
	&__content{
		display: flex;
		justify-content: space-between;
		margin-bottom: 5rem;

		@media ( max-width: 1000px ) {
			flex-direction: column;
			align-items: center;

			img{
				margin-left: 0 !important;
				margin-right: 0 !important;
				order: 1;
			}
		}
	}
	&__text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		a{
			margin-bottom: 3rem;
			margin-top: auto;
		}

		@media ( max-width: 1000px ) {
			order: 2;
		}

		@media ( max-width: 600px ) {
			text-align: center;
		}
	}
	a.miracle-button{
		color: map-get( $color, white );
		padding: 2rem 3rem;
		font-weight: 100;
		&:hover{
			color: map-get( $color, white );
		}

		@media ( max-width: 600px ) {
			margin: 0 auto;
		}
	}
}
