.contacts-body{
    padding: 7rem 1rem;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    &__info{
        margin-bottom: 1.5rem;
        width: calc( 100% / 3 - 1rem );
        height: 20rem;

        @media ( min-width: map-get( $gw, medium ) ) and ( max-width: map-get( $gw, large ) ){
            width: calc( 100% / 2 - 1rem );
            height: 16rem;
        }

        @media ( max-width: map-get( $gw, medium ) ){
            width: calc( 100% - 1rem );
            height: auto;
            margin-bottom: 6rem;
        }

        &-title{
            font-size: 2.8rem;
            font-weight: 900;
            color: map-get($color, black);
            margin: 0 0 2.5rem;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                bottom: -1.2rem;
                left: 0;
                height: 1px;
                background: map-get($color, dark-gray);
                width: 80%;
            }
        }

        &-description{
            margin: 0;
            font-size: 1.8rem;
            font-weight: 400;
            color: map-get($color, dark-gray);

            strong{
                font-weight: 900;
            }
        }
    }
}
