@charset 'utf-8';

@import './icomoon/style';
@import './Awesome/awesome';

/////////
// 100 //
////////
@font-face {
    font-family: 'Lato';
    src: url('100/normal/Lato-Thin.eot');                                           /* IE9 Compat Modes */
    src: url('100/normal/Lato-Thin.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('100/normal/Lato-Thin.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('100/normal/Lato-Thin.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('100/normal/Lato-Thin.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('100/normal/Lato-Thin.svg#Lato-Thin') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('100/italic/Lato-ThinItalic.eot');                                           /* IE9 Compat Modes */
    src: url('100/italic/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('100/italic/Lato-ThinItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('100/italic/Lato-ThinItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('100/italic/Lato-ThinItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('100/italic/Lato-ThinItalic.svg#Lato-ThinItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 100;
    font-style: italic;
}

/////////
// 200 //
////////
@font-face {
    font-family: 'Lato';
    src: url('200/normal/Lato-Light.eot');                                           /* IE9 Compat Modes */
    src: url('200/normal/Lato-Light.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('200/normal/Lato-Light.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('200/normal/Lato-Light.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('200/normal/Lato-Light.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('200/normal/Lato-Light.svg#Lato-Light') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('200/italic/Lato-LightItalic.eot');                                           /* IE9 Compat Modes */
    src: url('200/italic/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('200/italic/Lato-LightItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('200/italic/Lato-LightItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('200/italic/Lato-LightItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('200/italic/Lato-LightItalic.svg#Lato-LightItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 200;
    font-style: italic;
}

/////////
// 300 //
////////
// @font-face {
//     font-family: 'Lato';
//     src: url('200/normal/Lato-Light.eot');                                           /* IE9 Compat Modes */
//     src: url('200/normal/Lato-Light.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
//         //    url('200/normal/Lato-Light.woff2') format('woff2'),                         /* Новейшие браузеры */
//            url('200/normal/Lato-Light.woff') format('woff'),                           /* Новые браузеры и IE9+ */
//            url('200/normal/Lato-Light.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
//            url('200/normal/Lato-Light.svg#Lato-Light') format('svg'); /* Древние Safari, iOS, Android */
//     font-weight: 300;
//     font-style: normal;
// }

/////////
// 400 //
////////
@font-face {
    font-family: 'Lato';
    src: url('400/normal/Lato-Regular.eot');                                           /* IE9 Compat Modes */
    src: url('400/normal/Lato-Regular.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('400/normal/Lato-Regular.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('400/normal/Lato-Regular.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('400/normal/Lato-Regular.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('400/normal/Lato-Regular.svg#Lato-Regular') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('400/italic/Lato-Italic.eot');                                           /* IE9 Compat Modes */
    src: url('400/italic/Lato-Italic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('400/italic/Lato-Italic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('400/italic/Lato-Italic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('400/italic/Lato-Italic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('400/italic/Lato-Italic.svg#Lato-Italic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 400;
    font-style: italic;
}

/////////
// 500 //
////////
@font-face {
    font-family: 'Lato';
    src: url('500/normal/Lato-Medium.eot');                                           /* IE9 Compat Modes */
    src: url('500/normal/Lato-Medium.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('500/normal/Lato-Medium.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('500/normal/Lato-Medium.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('500/normal/Lato-Medium.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('500/normal/Lato-Medium.svg#Lato-Medium') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('500/italic/Lato-MediumItalic.eot');                                           /* IE9 Compat Modes */
    src: url('500/italic/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('500/italic/Lato-MediumItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('500/italic/Lato-MediumItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('500/italic/Lato-MediumItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('500/italic/Lato-MediumItalic.svg#Lato-MediumItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 500;
    font-style: italic;
}

/////////
// 600 //
////////
@font-face {
    font-family: 'Lato';
    src: url('600/normal/Lato-Semibold.eot');                                           /* IE9 Compat Modes */
    src: url('600/normal/Lato-Semibold.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('600/normal/Lato-Semibold.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('600/normal/Lato-Semibold.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('600/normal/Lato-Semibold.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('600/normal/Lato-Semibold.svg#Lato-Semibold') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('600/italic/Lato-SemiboldItalic.eot');                                           /* IE9 Compat Modes */
    src: url('600/italic/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('600/italic/Lato-SemiboldItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('600/italic/Lato-SemiboldItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('600/italic/Lato-SemiboldItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('600/italic/Lato-SemiboldItalic.svg#Lato-SemiboldItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 600;
    font-style: italic;
}

/////////
// 700 //
////////
@font-face {
    font-family: 'Lato';
    src: url('700/normal/Lato-Bold.eot');                                           /* IE9 Compat Modes */
    src: url('700/normal/Lato-Bold.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('700/normal/Lato-Bold.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('700/normal/Lato-Bold.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('700/normal/Lato-Bold.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('700/normal/Lato-Bold.svg#Lato-Bold') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('700/italic/Lato-BoldItalic.eot');                                           /* IE9 Compat Modes */
    src: url('700/italic/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('700/italic/Lato-BoldItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('700/italic/Lato-BoldItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('700/italic/Lato-BoldItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('700/italic/Lato-BoldItalic.svg#Lato-Bold') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 700;
    font-style: italic;
}

/////////
// 800 //
////////
@font-face {
    font-family: 'Lato';
    src: url('800/italic/Lato-HeavyItalic.eot');                                           /* IE9 Compat Modes */
    src: url('800/italic/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('800/italic/Lato-HeavyItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('800/italic/Lato-HeavyItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('800/italic/Lato-HeavyItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('800/italic/Lato-HeavyItalic.svg#Lato-HeavyItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 800;
    font-style: italic;
}

/////////
// 900 //
////////
@font-face {
    font-family: 'Lato';
    src: url('900/normal/Lato-Black.eot');                                           /* IE9 Compat Modes */
    src: url('900/normal/Lato-Black.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('900/normal/Lato-Black.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('900/normal/Lato-Black.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('900/normal/Lato-Black.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('900/normal/Lato-Black.svg#Lato-Black') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('900/italic/Lato-BlackItalic.eot');                                           /* IE9 Compat Modes */
    src: url('900/italic/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),        /* IE6-IE8 */
        //    url('900/italic/Lato-BlackItalic.woff2') format('woff2'),                         /* Новейшие браузеры */
           url('900/italic/Lato-BlackItalic.woff') format('woff'),                           /* Новые браузеры и IE9+ */
           url('900/italic/Lato-BlackItalic.ttf')  format('truetype'),                       /* Старые Safari, Android, iOS */
           url('900/italic/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg'); /* Древние Safari, iOS, Android */
    font-weight: 900;
    font-style: italic;
}

*{
    font-family: 'Lato', Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
