.body-404{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__how-work{
        padding: 15.4rem 0 27.5rem;
    }

    &__title{
        font-size: 8.2rem;
        font-weight: 900;
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: map-get($color, white);
        span{
            color: map-get($color, primary);
        }

        @media ( min-width: map-get( $gw, medium ) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 3rem;
        }

        @media ( max-width: map-get( $gw, medium ) ){
            font-size: 2.5rem;
        }
    }

    &__subtitle{
        font-weight: 900;
        font-size: 4rem;
        margin: 0;
        margin-bottom: 1.8rem;
        color: map-get($color, white);

        @media ( min-width: map-get( $gw, medium ) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 2.8rem;
        }

        @media ( max-width: map-get( $gw, medium ) ){
            font-size: 2rem;
        }
    }

    &__content{
        margin: 0;
        font-size: 2rem;
        font-weight: 200;
        color: map-get($color, white);

        a{
            color: map-get($color, primary);
            transition: all .3s ease;
            &:hover{
                color: map-get($color, blue);
                text-decoration-color: rgba( map-get($color, primary), 0 );
            }
        }

        @media ( max-width: map-get( $gw, large ) ){
            font-size: 1.8rem;
        }
    }

    &__image{
        object-fit: contain;
    }
        object-position: center;

}
