.single-body .single-body__content{
    a{
        color: map-get($color, primary);
        font-size: 1.8rem;
        font-weight: 400;
        padding: 0.5rem;
        text-decoration-color: rgba( map-get($color, primary), 1);
        transition: all .3s ease;
        &:hover{
            text-decoration-color: rgba( darken( map-get($color, primary), 10), 0);
            color: darken( map-get($color, primary), 10);
        }
    }
}
