.single-body .single-body__content{
    h1, h2, h3, h4, h5, h6{
        color: map-get($color, black);
        font-weight: 900;
        border-bottom: 1px solid map-get($color, medium-black);
        margin: 0 0 4rem;
        padding: 0 0 2.7rem;
        clear: both;

        @media ( max-width: map-get($gw, medium) ){
            font-weight: 400;
        }
    }
    h1{
        font-size: 4.6rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 3.7rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 2.8rem;
        }
    }
    h2{
        font-size: 4rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 3.3rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 2.6rem;
        }
    }
    h3{
        font-size: 3.4rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 2.9rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 2.4rem;
        }
    }
    h4{
        font-size: 2.8rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 2.5rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 2.2rem;
        }
    }
    h5{
        font-size: 2.2rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 2.1rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 2rem;
        }
    }
    h6{
        font-size: 1.6rem;

        @media ( min-width: map-get($gw, medium) ) and ( max-width: map-get( $gw, large ) ){
            font-size: 1.4rem;
        }

        @media ( max-width: map-get($gw, medium) ){
            font-size: 1.4rem;
        }
    }
}
