.single-body .single-body__content{
    img{
        border-radius: 1rem;
        background: radial-gradient(ellipse at center,rgba( map-get($color, light-gray),0) 0%, rgba( map-get($color, light-gray),1) 100%);
        margin: 0 auto 3rem;

        &.alignleft, &.alignnone{
            float: left;
            max-width: calc( 100% - 3rem );
            margin: 0 6rem 3rem 0;

            @media ( max-width: map-get($gw, medium) ){
                float: none;
                margin: 0 auto 3rem;
                display: block;
            }
        }

        &.aligncenter{
            display: block;
            max-width: calc( 100% - 3rem );
            margin: 0 auto 3rem;
        }

        &.alignright{
            float: right;
            max-width: calc( 100% - 3rem );
            margin: 0 0 3rem 6rem;

            @media ( max-width: map-get($gw, medium) ){
                float: none;
                margin: 0 auto 3rem;
                display: block;
            }
        }
    }
}
