.single-body .single-body__content{
    ul{
        margin: 1rem 0 2rem;
        padding: 0 0 0 2rem;

        li{
            margin-bottom: 0.8rem;
            color: map-get($color, primary);
        }
    }
    ol{
        margin: 1rem 0 2rem;
        padding: 0 0 0 2rem;

        @media ( max-width: map-get($gw, medium) ){
            padding-left: 3rem;
        }

        li{
            margin-bottom: 0.8rem;
        }
    }
}
