.single-body .single-body__content{
    p{
        font-weight: 400;
        font-size: 1.8rem;
        color: map-get($color, dark-gray);
        margin: 0 0 2rem;
        line-height: 1.25;

        @media ( max-width: map-get($gw, medium) ){
            font-size: 1.6rem;
            text-align: center;
            clear: both;
        }
    }
}
