.single-body{
    padding: 5rem 1rem;

    &__content{
        max-width: map-get($gw, large);
        margin: 0 auto;
        overflow: hidden;
        font-weight: 400;
        font-size: 1.8rem;
        color: map-get($color, dark-gray);
    }
}
