.single-body .single-body__content{
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 5rem;
        thead td, thead th{
            text-align: center;
            padding: 2.5rem;
            font-size: 2.4rem;
            font-weight: 900;
            color: map-get($color, black);
        }
        tbody td{
            text-align: left;
            padding: 2.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: map-get($color, dark-gray);
        }

        @media ( max-width: map-get($gw, medium) ){
            display: block;
            overflow-x: scroll;
            width: auto;
        }
    }
    table, th, td{
        border: 1px solid map-get($color, dark-gray);
    }
}
