.single-header{
	background-color: rgba( map-get($color, black), 0.75 );
	width: 100%;
	min-height: 20rem;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__content{
		max-width: map-get($gw, large);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 auto;
		padding: 20rem 1rem 5.5rem;
		position: relative;
	}

	&__title{
		text-align: center;
		text-transform: none;
		font-size: 5.2rem;
		padding: 0 8rem;
		line-height: 1.2;

		@media ( max-width: map-get( $gw, medium ) ){
			font-size: 4rem;
			padding: 0 1rem;
			line-height: 1;
		}
	}

	&__excerpt{
		margin: 3.5rem auto 0;
		font-size: 2.4rem;
		font-weight: 200;
		text-align: center;
		padding: 0 1rem;
		max-width: 80rem;
		color: map-get( $color, white );
	}

	&__link{
		text-align: center;
		margin: 6rem 0 17rem;

		a{
			text-decoration: none;
			border: 2px solid map-get($color, primary);
			font-size: 3rem;
			padding: 2rem;
			border-radius: 1rem;
			transition: all .3s ease;

			i{
				text-transform: none;
				font-size: 4.1rem;
				position: relative;
				top: 0.8rem;
				margin-right: 2rem;
				color: map-get($color, primary);
				transition: all .3s ease;
			}

			span{
				color: map-get($color, white);
				text-decoration: underline;
				text-decoration-color:  rgba( map-get($color, white), 1 );
				font-weight: 200;
				font-size: 2.6rem;
				transition: all .3s ease;
			}

			&:hover{
				background-color: map-get($color, primary);
				i{
					color: map-get($color, white);
				}
				span{
					text-decoration-color: rgba( map-get($color, white), 0 );
				}
			}
		}
	}

	&__breadcrumbs{
		margin-bottom: 3rem;

		&_portfolio{
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
	}
	&__filter{
		padding: 0;
	}
}
