.last-portfolio{

    &__content{
        padding: 5.5rem 1rem 3rem;
        text-align: center;

        @media ( max-width: map-get($gw, medium ) ) {
            padding: 5rem 0 3rem;
        }
    }

    &__title{
        text-align: center;
        margin-left: 0;
        margin-bottom: 1.2rem;

        @media ( max-width: map-get($gw, large ) ) {
            font-size: 2.6rem;
        }
    }

    &__description{
        margin: 0;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0;
        font-weight: 200;
        margin-bottom: 5.5rem;

        @media ( max-width: map-get($gw, large ) ) {
            font-size: 1.6rem;
        }
    }

    &__content-posts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        margin-bottom: 3rem;

        @media ( max-width: map-get($gw, medium ) ) {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
    }

    &__link{
        text-decoration: none;
        display: inline-block;
    }
}
