.send-requery{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__block{
        max-width: map-get($gw, large);
        margin: 0 auto;
        text-align: center;
        padding: 8rem 1rem;
    }

    &__title{
        margin-bottom: 0;
        line-height: 3.5rem;

        @media ( max-width: map-get($gw, medium ) ) {
            font-size: 2.6rem;
            margin-left: 0;
            line-height: 1.2;
        }
    }

    &__subtitle{
        margin-bottom: 0.5rem;
        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            margin-bottom: 2.5rem;
        }
        @media ( max-width: map-get($gw, medium ) ) {
            font-size: 2rem;
            margin-left: 0;
            line-height: 1.25;
        }
    }

    &__content{
        margin-bottom: 2.4rem;

        @media ( max-width: map-get($gw, large ) ){
            display: none;
        }
    }

    @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
        .miracle-content{
            font-weight: 200;
            font-size: 1.8rem;
        }
    }
}
