.aboutus{
	&__icons{
		display: flex;
		justify-content: space-evenly;
		margin: 3rem 0;

		@media ( max-width: map-get( $gw, medium ) ){
			flex-direction: column;
		}

		& :last-child{
			border-right: none;
		}
	}
	&__subheader{
		font-weight: 900 !important;
		margin-top: 2rem !important;
		text-transform: uppercase;
	}
	&__icon{
		text-align: center;
		border-right: 1px solid map-get( $color, light-gray );
		padding: 0 6rem;
		@media ( max-width: map-get( $gw, large ) ){
			padding: 0 1rem;
		}
		@media ( max-width: map-get( $gw, medium ) ) {
			max-width: 40rem;
			margin: 0 auto;
			border-right: none;
		}
		i{
			font-size: 10rem;
			@media ( max-width: map-get( $gw, medium ) ) {
				font-size: 6rem;
			}
			color: map-get( $color, blue );
		}
	}
	&__sertificates{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		.miracle-slider__slide{
		    margin: 3rem auto 0;
		}
	}
	&__sertificate{
		flex-basis: 24%;
		text-align: center;
		padding: 0 2rem;
		div{
			position: relative;
			overflow: hidden;
			flex-shrink: 0;
			cursor: pointer;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba( map-get($color, black), 0);
				transition: all .4s ease;
			}
			&:hover{
				img{
					transform: scale(1.25);
				}
				&:after{
					background-color: rgba( map-get($color, black), 0.6);
				}
				i{
					opacity: 1;
					transform: translateX(-50%) translateY(-50%) scale(1);
				}
			}
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .4s ease;
			margin: 0 !important;
		}
		&-name{
			font-size: 3.6rem !important;
			margin-top: 3rem !important;
			color: map-get( $color, black ) !important;
			font-weight: 900 !important;
		}
	}
}
