.thanks{
	display: flex;
	justify-content: center;
    padding: 5rem 3rem;
    min-height: 97px;
	align-items: center;
	background-color: map-get( $color, white );
	i{
		font-size: 15rem;
		color: map-get( $color, blue );
		margin-right: 5rem;
	}
	h1{
		font-size: 5.2rem;
		font-weight: 900;
		margin: 0;
	}
	p{
		font-size: 2.2rem;
		margin: 0;
	}
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}