.footer{
    width: 100%;
    background: rgba( 0,0,0,0.8 );
    position: relative;
    z-index: 4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__top{
        border-bottom: 1px solid map-get($color, white);
        padding: 7.7rem 1rem 5.2rem;

        &-content{
            max-width: map-get($gw, large);
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 3rem;

            @media ( max-width: map-get($gw, large ) ){
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 2rem;
            }

            @media ( max-width: map-get($gw, medium ) ){
                display: flex;
                flex-direction: column;
            }
        }

        @media ( max-width: map-get($gw, large ) ){
            border: none;
            background-color: map-get($color, white);
        }
    }

    &__phone{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
        text-align: right;
        &-number{
            margin: 0;
            color: map-get($color, white);
            font-weight: 900;
            font-size: 3rem;
            margin-bottom: 3.5rem;

            @media ( max-width: map-get($gw, large ) ){
                font-size: 2.6rem;
                color: map-get($color, black);
                margin-bottom: 1rem;
            }
        }

        &_show-large{
            @media ( max-width: map-get($gw, large ) ){
                display: none;
            }
        }

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){
            width: calc( 100% / 3 );
        }

        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }

    &__modal-button{
        @media ( max-width: map-get($gw, large ) ){
            padding: 2.6rem 5rem;
        }
    }

    &__company-info{
        position: relative;
        padding-left: 3.8rem;

        &-icon{
            position: absolute;
            top: 0;
            left: 3.8rem;
            font-size: 2.2rem;
            color: map-get($color, primary);
            width: 3.5rem;
            transform: translateX(-110%);
            text-align: center;

            @media ( max-width: map-get($gw, large ) ){
                position: relative;
                left: 0;
                font-size: 2.2rem;
                color: map-get($color, primary);
                width: 3.5rem;
                transform: translateX(0%);
            }
        }

        &-title{
            color: map-get($color, white);
            font-weight: 900;
            font-size: 1.8rem;
            margin: 0;

            @media ( max-width: map-get($gw, large ) ){
                display: inline;
                color: map-get($color, primary);
                font-size: 1.6rem;
            }
        }

        a.footer__company-info-title{
            text-decoration-style: dashed;
            transition: text-decoration-color .3s ease;

            &:hover{
                text-decoration-color: rgba( map-get($color, white), 0);
            }

            @media ( max-width: map-get($gw, large ) ){
                text-transform: uppercase;
                color: map-get($color, black);
            }
        }

        &-content{
            color: map-get($color, white);
            font-weight: 200;
            font-size: 1.8rem;
            margin: 0.7rem 0 0;

            @media ( max-width: map-get($gw, large ) ){
                color: map-get($color, black);
            }
        }

        @media ( max-width: map-get($gw, large ) ){
            padding-left: 0;
        }

        @media ( max-width: map-get($gw, large ) ){
            text-align: center;
            margin-bottom: 1.5rem;
        }

        &_push-down{
            order: 20;
        }
    }

    &__bottom{
        padding: 3.5rem 1rem 3rem;

        &-content{
            max-width: map-get($gw, large);
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-between;

            &:after{
                content: "";
                position: relative;
                width: 22rem;
            }

            @media ( max-width: map-get($gw, medium ) ){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap-reverse;
            }
        }

        @media ( max-width: map-get($gw, large ) ){
            background-color: map-get($color, primary);
        }
    }

    &__logo{
        img{
            width: 21.5rem;
            height: 6rem;
            object-fit: contain;
            object-position: center;
        }

        @media ( max-width: map-get($gw, medium ) ){
            margin: 1rem auto;
            display: inline;
        }
    }

    &__social{
        @media ( max-width: map-get($gw, medium ) ){
            margin: 1rem auto;
            width: 100%;
            text-align: center;
        }

        .a2a_kit .a2a_label{
            display: none !important;
        }
    }

    &__medium{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: map-get($color, white);
        border-bottom: 1px solid map-get($color, gray);
        padding: 7.7rem 1rem 5.2rem;

        &-menu{
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            width: calc( 100% * 2 / 3 );
            margin-bottom: -2rem;

            &-item{
                flex-basis: 50%;
                margin-bottom: 2rem;

                @media ( max-width: map-get($gw, medium ) ) {
                    flex-basis: 100%;
                    text-align: center;
                }
            }

            &-link{
                font-size: 1.8rem;
                font-weight: 900;
                color: map-get($color, black);
                text-decoration: none;
            }

            @media ( max-width: map-get($gw, medium ) ) {
                width: auto;
            }
        }

        @media ( min-width: map-get($gw, large ) ){
            display: none;
        }

        @media ( max-width: map-get($gw, medium ) ){
            padding-top: 5.2rem;
        }
    }
}
