.archive-filter{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__filters{
		padding: 2rem 0rem;
		border: 1px solid #3c4a59;
		border-radius: 50px/50px;
		margin-left: 2.9rem;
		margin-bottom: 2rem;
		margin: 0 1.5rem 2rem;
		transition: border-color .3s ease, background-color .3s ease;
		&:hover{
			border-color: map-get( $color, blue );
		}
		&:active, &:focus{
			outline: none;
		}
		&_active{
			border-color: map-get( $color, blue );
			background-color: map-get( $color, blue );
			cursor: default;
			& > *{
				cursor: default;
			}
			.archive-filter__filterlinks{
				text-decoration-color: rgba( map-get($color, white), 0 );
			}
		}
	}
	&__filterlinks{
		font-weight: 200;
		font-size: 1.8rem;
		color: map-get($color, white);
		text-decoration: underline;
		text-decoration-style: dotted;
		text-decoration-color: rgba( map-get($color, white), 1 );
		transition: all .3s ease;
		padding: 2rem 3rem;
		&:active, &:focus{
			outline: none;
		}
		&:hover{
			text-decoration-color: rgba( map-get($color, white), 0 );
		}

		@media ( max-width: map-get( $gw, medium ) ){
			padding-left: 0.75rem;
		    padding-right: 0.75rem;
		}
	}
}
