.how-work{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__image{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        pointer-events: none;

        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }

    &__content{
        max-width: map-get( $gw, large );
        margin: 0 auto;

        @media ( max-width: map-get($gw, medium ) ) {
            padding: 0 1rem;
        }
    }

    &__info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        padding: 7.4rem 0;
        width: 50%;
        & > *:not(.how-work__info_shring){
            flex-basis: 100%;
        }
        &-services{
            width: 100%;
            padding-bottom: 0.6rem;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            width: auto;
        }
    }

    @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ){

        padding: 0 1rem;

        .miracle-subtitle{
            font-size: 2.2rem;
            font-weight: 200;
            line-height: 1.2;
            & > br{
                display: none;
            }
        }

        .miracle-content{
            display: none;
        }
    }

    @media ( max-width: map-get($gw, medium ) ) {
        .miracle-title{
            margin-left: 0;
            font-size: 2.6rem;
            text-align: center;
            line-height: 1.25;
        }

        .miracle-subtitle{
            font-size: 2rem;
            margin-left: 0;
            text-align: center;
            line-height: 1.25;
            br{
                display: none;
            }
        }

        .miracle-content{
            display: none;
        }

        .miracle-button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_hide-mobile{
        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }
    }
}
