.our-services{
    display: flex;
    flex-direction: column;
    counter-reset: item;
    &__block{
        position: relative;
        width: calc( 100% - 21rem );
        padding: 1.8rem 1rem 1.4rem 10rem;
        background-color: rgba( map-get($color, black), 0.75 );
        margin: 0.9rem 0 0.1rem 0.4rem;
        border-radius: 1rem;
        &:before{
            content: counter(item);
            counter-increment: item;
            position: absolute;
            top: 1.5rem;
            font-size: 2rem;
            left: 1.8rem;
            color: map-get($color, white);
            font-weight: 900;
            line-height: 0;
            padding: 2.2rem 1.6rem;
            border-radius: 100%;
            border: 3px solid map-get($color, primary);
        }

        @media ( max-width: map-get($gw, large ) ) {
            width: auto;
        }
    }

    &__title{
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 900;
        color: map-get($color, primary);
        text-transform: uppercase;

        margin: 0 0 0.7rem;

        @media ( min-width: map-get($gw, medium ) ) and ( max-width: map-get($gw, large ) ) {
            font-size: 1.8rem;
            & > br {
                display: none;
            }
        }

        @media ( max-width: map-get($gw, medium ) ) {
            font-size: 1.6rem;
            & > br{
                display: none;
            }
        }
    }

    &__content{
        font-size: 1.8rem;
        line-height: 1.25;
        font-weight: 200;
        color: map-get($color, white);

        margin: 0;

        @media ( max-width: map-get($gw, large ) ){
            display: none;
        }
    }
}
