.header-slider{
	position: relative;
	top: -194px;
	margin-bottom: -194px;
	z-index: 0;
	&__outer{
		overflow: hidden;
	}
	&__stage{
		display: inline-flex;
		flex-wrap: nowrap;
    	transition: all 0.5s linear;
	}
	&__slide{
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&-lazy-bg{
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__content{
		max-width: map-get( $gw, large );
		margin: 0 auto;
		display: flex;
		margin-top: 28rem;
	}
	&__info{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 31rem;
		flex-shrink: 0;
		width: 42%;
		& > *{
			opacity: 0;
		}
		&_show{
			img{
				animation: fadeUpAll .3s ease forwards;
				// animation-delay: .4s;
			}
			.miracle-subtitle{
				animation: fadeUpAll .3s ease forwards;
				animation-delay: .1s;
			}
			.miracle-title{
				animation: fadeUpAll .3s ease forwards;
				animation-delay: .2s;
			}
			.miracle-content{
				animation: fadeUpAll .3s ease forwards;
				animation-delay: .3s;
			}
			.miracle-button{
				animation: fadeUpAll .3s ease forwards;
				animation-delay: .4s;
			}
		}
		&-logo{
			margin-bottom: 2rem;
			height: 9rem;
			width: 38rem;
			object-fit: contain;
			object-position: center left;
		}
		&-title{
			font-size: 2.8rem;
			margin-left: 0;
			line-height: 1.24;
			margin-bottom: 1.5rem;
		}
		&-content{
			margin-left: 0;
		    font-size: 2.4rem;
		    font-weight: 200;
		    margin-bottom: 2.5rem;
		}
		&-cards{
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			z-index: 4;
			position: relative;
			max-width: map-get( $gw, large );
			margin: 0 auto;

			@media ( max-width: 1350px ) {
				display: none;
			}
		}
		&-card{
			background-color: rgba(10, 10, 10, 0.66);
			border-radius: 7px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 3rem 2rem;
			flex-basis: 29%;
			a{
				display: flex;
				align-items: center;
				text-decoration: none;
			}
			i{
				font-size: 8rem;
				color: blue;
				margin-right: 4rem;
				color: map-get( $color, primary );
			}
			p{
				font-size: 2.6rem;
				font-weight: 100;
				color: map-get( $color, white );
				margin: 0;
			}
		}
	}
	&__link{
		text-decoration: none;
	    background: transparent;
	    border: 2px solid map-get( $color, primary );

		&:hover{
		    border: 2px solid darken( map-get( $color, primary ), 10 );
		}
	}
	&__bg{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		pointer-events: none;

		&-image{
			width: 140rem;
		    height: 75rem;
		    object-fit: contain;
		    object-position: bottom left;
		}
	}
	&__navs{
		// position: absolute;
		// z-index: 3;
		// top: 50%;
		// width: 100%;
		// display: flex;
		// justify-content: space-between;
		// font-size: 7rem;
	}
	&__prev{
		color: map-get( $color, lighter-gray );
		cursor: pointer;
		border: 1px solid map-get( $color, lighter-gray );
		border-radius: 50%;
		position: absolute;
	    top: calc( 50% - 30px );
	    width: 10.4rem;
	    height: 10.4rem;
	    z-index: 3;
	    padding: 0;
	    display: flex;
	    margin: 0;
	    left: 0;
		transition: all .3s ease;

		i{
			line-height: 0;
			margin: auto;
			font-size: 3rem;
		}

		&:hover{
			color: map-get( $color, white );
			border: 1px solid map-get( $color, white );
		}

		&:active{
			color: map-get( $color, white);
			border: 1px solid map-get( $color, white);
			transform: scale(0.8);
		}
	}
	&__next{
		margin-right: 10rem;
		color: map-get( $color, lighter-gray );
		cursor: pointer;
		border: 1px solid map-get( $color, lighter-gray );
		border-radius: 50%;
		position: absolute;
	    top: calc( 50% - 30px );
	    width: 10.4rem;
	    height: 10.4rem;
	    z-index: 3;
	    padding: 0;
	    display: flex;
	    margin: 0;
	    right: 0;
		transition: all .3s ease;

		i{
			line-height: 0;
			margin: auto;
			font-size: 3rem;
		}

		&:hover{
			color: map-get( $color, white );
			border: 1px solid map-get( $color, white );
		}

		&:active{	color: map-get( $color, white);
			border: 1px solid map-get( $color, white);
			transform: scale(0.8);

		}
	}
}



@keyframes fadeUpAll {

	from{
		transform: translateY( 100vh );
		opacity: 0;
	}to{
		transform: translateX( 0vh );
		opacity: 1;
	}

}
