.header-medium{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50rem 1rem 3rem;
	text-align: center;

	&__logo{
		max-width: 29.5rem;
		max-height: 6.5rem;
		margin-bottom: 2.8rem;

		@media ( max-width: map-get($gw, medium ) ) {
			display: none;
		}
	}

	&__title{
		font-size: 3.2rem;
		font-weight: 900;
		margin-left: 0;

		@media ( max-width: map-get($gw, medium ) ) {
			font-size: 2.6rem;
			line-height: 1.25;

			& > br{
				display: none;
			}
		}
	}

	&__content{
		font-size: 2rem;
		font-weight: 200;
		color: map-get($color, white);
		max-width: 55rem;
		margin: 0 auto 2rem;

		@media ( max-width: map-get($gw, medium ) ) {
			& > br{
				display: none;
			}
		}
	}

	&__button{
		margin-bottom: 8rem;

		@media ( max-width: map-get($gw, medium ) ) {
			display: none;
		}
	}
	&-slider{
		&__info{
			&-cards{
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				z-index: 4;
				position: relative;
				max-width: map-get( $gw, medium );
				margin: 0 auto;

				@media ( max-width: map-get($gw, medium ) ) {
					flex-direction: column;
				}
			}
			&-card{
				background-color: rgba(10, 10, 10, 0.66);
				border-radius: 7px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 3rem 1rem;
				flex-basis: 29%;

				@media ( max-width: map-get($gw, medium ) ) {
					width: 80%;
    				margin-bottom: 2rem;
    				justify-content: flex-start;
				}

				@media ( max-width: map-get($gw, small ) ) {
					width: 30rem;
				}

				a{
					display: flex;
					align-items: center;
					text-decoration: none;
					justify-content: center;
					flex-direction: column;

					@media ( max-width: map-get($gw, medium ) ) {
						flex-direction: row;
					}
				}
				i{
					font-size: 8rem;
					color: blue;
					margin-bottom: 4rem;
					color: map-get( $color, primary );
					@media ( max-width: map-get($gw, medium ) ) {
						margin-right: 2rem;
						margin-bottom: 0;
						font-size: 5rem;
					}
				}
				p{
					font-size: 2.6rem;
					font-weight: 100;
					color: map-get( $color, white );
					margin: 0;
					@media ( max-width: map-get($gw, medium ) ) {
						text-align: left;
						font-size: 2rem;

						& > br{
							display: none;
						}
					}
				}
			}
		}
	}
}

@media ( max-width: 1350px ){
	#header-slider__info-cards{
		display: none;
	}
}
