@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j2lqva');
  src:  url('fonts/icomoon.eot?j2lqva#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j2lqva') format('truetype'),
    url('fonts/icomoon.woff?j2lqva') format('woff'),
    url('fonts/icomoon.svg?j2lqva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-"], [class*=" miracle-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-check:before {
  content: "\e900";
}
.miracle-cycle:before {
  content: "\e901";
}
.miracle-earth:before {
  content: "\e902";
}
.miracle-slider_arrow_gray:before {
  content: "\e903";
}
.miracle-zoom:before {
  content: "\e904";
}
.miracle-adress:before {
  content: "\e905";
}
.miracle-clock:before {
  content: "\e906";
}
.miracle-adress2:before {
  content: "\e907";
}
.miracle-brif:before {
  content: "\e908";
}
.miracle-clock2:before {
  content: "\e909";
}
.miracle-mail:before {
  content: "\e90a";
}
.miracle-presentation:before {
  content: "\e90b";
}
.miracle-skype:before {
  content: "\e90c";
}
.miracle-design:before {
  content: "\e90d";
}
.miracle-seo2:before {
  content: "\e90e";
}
.miracle-web-development:before {
  content: "\e90f";
}
.miracle-adaptive:before {
  content: "\e910";
}
.miracle-comfort:before {
  content: "\e911";
}
.miracle-exclusive_design:before {
  content: "\e912";
}
.miracle-money:before {
  content: "\e913";
}
.miracle-scrum:before {
  content: "\e914";
}
.miracle-ui-ux:before {
  content: "\e915";
}
.miracle-seo:before {
  content: "\e916";
}
.miracle-smm:before {
  content: "\e917";
}
.miracle-yandex-google:before {
  content: "\e918";
}
.miracle-brif2 .path1:before {
  content: "\e919";
  color: rgb(221, 87, 77);
}
.miracle-brif2 .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-dogovor .path1:before {
  content: "\e91b";
  color: rgb(0, 157, 213);
}
.miracle-dogovor .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-prototype .path1:before {
  content: "\e91d";
  color: rgb(91, 181, 102);
}
.miracle-prototype .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-design2 .path1:before {
  content: "\e91f";
  color: rgb(243, 203, 0);
}
.miracle-design2 .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-html .path1:before {
  content: "\e921";
  color: rgb(165, 86, 133);
}
.miracle-html .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-programming .path1:before {
  content: "\e923";
  color: rgb(128, 199, 185);
}
.miracle-programming .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-promotion .path1:before {
  content: "\e925";
  color: rgb(239, 155, 160);
}
.miracle-promotion .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.miracle-results .path1:before {
  content: "\e927";
  color: rgb(108, 191, 228);
}
.miracle-results .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
