@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?j2lqva');
  src:  url('#{$icomoon-font-path}/icomoon.eot?j2lqva#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?j2lqva') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?j2lqva') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?j2lqva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-font-"], [class*=" miracle-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-font-check {
  &:before {
    content: $miracle-check;
  }
}
.miracle-font-cycle {
  &:before {
    content: $miracle-cycle;
  }
}
.miracle-font-earth {
  &:before {
    content: $miracle-earth;
  }
}
.miracle-font-slider_arrow_gray {
  &:before {
    content: $miracle-slider_arrow_gray;
  }
}
.miracle-font-zoom {
  &:before {
    content: $miracle-zoom;
  }
}
.miracle-font-adress {
  &:before {
    content: $miracle-adress;
  }
}
.miracle-font-clock {
  &:before {
    content: $miracle-clock;
  }
}
.miracle-font-adress2 {
  &:before {
    content: $miracle-adress2;
  }
}
.miracle-font-brif {
  &:before {
    content: $miracle-brif;
  }
}
.miracle-font-clock2 {
  &:before {
    content: $miracle-clock2;
  }
}
.miracle-font-mail {
  &:before {
    content: $miracle-mail;
  }
}
.miracle-font-presentation {
  &:before {
    content: $miracle-presentation;
  }
}
.miracle-font-skype {
  &:before {
    content: $miracle-skype;
  }
}
.miracle-font-design {
  &:before {
    content: $miracle-design;
  }
}
.miracle-font-seo2 {
  &:before {
    content: $miracle-seo2;
  }
}
.miracle-font-web-development {
  &:before {
    content: $miracle-web-development;
  }
}
.miracle-font-adaptive {
  &:before {
    content: $miracle-adaptive;
  }
}
.miracle-font-comfort {
  &:before {
    content: $miracle-comfort;
  }
}
.miracle-font-exclusive_design {
  &:before {
    content: $miracle-exclusive_design;
  }
}
.miracle-font-money {
  &:before {
    content: $miracle-money;
  }
}
.miracle-font-scrum {
  &:before {
    content: $miracle-scrum;
  }
}
.miracle-font-ui-ux {
  &:before {
    content: $miracle-ui-ux;
  }
}
.miracle-font-seo {
  &:before {
    content: $miracle-seo;
  }
}
.miracle-font-smm {
  &:before {
    content: $miracle-smm;
  }
}
.miracle-font-yandex-google {
  &:before {
    content: $miracle-yandex-google;
  }
}
// .miracle-font-brif2 .path1 {
//   &:before {
//     content: $miracle-brif2-path1;
//     color: rgb(221, 87, 77);
//   }
// }
// .miracle-font-brif2 .path2 {
//   &:before {
//     content: $miracle-brif2-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-brif2 {
    &:before {
        content: $miracle-brif2-path2;
    }
}
// .miracle-font-dogovor .path1 {
//   &:before {
//     content: $miracle-dogovor-path1;
//     color: rgb(0, 157, 213);
//   }
// }
// .miracle-font-dogovor .path2 {
//   &:before {
//     content: $miracle-dogovor-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-dogovor{
  &:before {
    content: $miracle-dogovor-path2;
  }
}
// .miracle-font-prototype .path1 {
//   &:before {
//     content: $miracle-prototype-path1;
//     color: rgb(91, 181, 102);
//   }
// }
// .miracle-font-prototype .path2 {
//   &:before {
//     content: $miracle-prototype-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-prototype {
  &:before {
    content: $miracle-prototype-path2;
  }
}
// .miracle-font-design2 .path1 {
//   &:before {
//     content: $miracle-design2-path1;
//     color: rgb(243, 203, 0);
//   }
// }
// .miracle-font-design2 .path2 {
//   &:before {
//     content: $miracle-design2-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-design2 {
  &:before {
    content: $miracle-design2-path2;
  }
}
// .miracle-font-html .path1 {
//   &:before {
//     content: $miracle-html-path1;
//     color: rgb(165, 86, 133);
//   }
// }
// .miracle-font-html .path2 {
//   &:before {
//     content: $miracle-html-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-html {
  &:before {
    content: $miracle-html-path2;
  }
}
// .miracle-font-programming .path1 {
//   &:before {
//     content: $miracle-programming-path1;
//     color: rgb(128, 199, 185);
//   }
// }
// .miracle-font-programming .path2 {
//   &:before {
//     content: $miracle-programming-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-programming{
  &:before {
    content: $miracle-programming-path2;
  }
}
// .miracle-font-promotion .path1 {
//   &:before {
//     content: $miracle-promotion-path1;
//     color: rgb(239, 155, 160);
//   }
// }
// .miracle-font-promotion .path2 {
//   &:before {
//     content: $miracle-promotion-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-promotion {
  &:before {
    content: $miracle-promotion-path2;
  }
}
// .miracle-font-results .path1 {
//   &:before {
//     content: $miracle-results-path1;
//     color: rgb(108, 191, 228);
//   }
// }
// .miracle-font-results .path2 {
//   &:before {
//     content: $miracle-results-path2;
//     margin-left: -1em;
//     color: rgb(255, 255, 255);
//   }
// }
.miracle-font-results {
  &:before {
    content: $miracle-results-path2;
  }
}
