$icomoon-font-path: "icomoon/fonts" !default;

$miracle-check: "\e900";
$miracle-cycle: "\e901";
$miracle-earth: "\e902";
$miracle-slider_arrow_gray: "\e903";
$miracle-zoom: "\e904";
$miracle-adress: "\e905";
$miracle-clock: "\e906";
$miracle-adress2: "\e907";
$miracle-brif: "\e908";
$miracle-clock2: "\e909";
$miracle-mail: "\e90a";
$miracle-presentation: "\e90b";
$miracle-skype: "\e90c";
$miracle-design: "\e90d";
$miracle-seo2: "\e90e";
$miracle-web-development: "\e90f";
$miracle-adaptive: "\e910";
$miracle-comfort: "\e911";
$miracle-exclusive_design: "\e912";
$miracle-money: "\e913";
$miracle-scrum: "\e914";
$miracle-ui-ux: "\e915";
$miracle-seo: "\e916";
$miracle-smm: "\e917";
$miracle-yandex-google: "\e918";
$miracle-brif2-path1: "\e919";
$miracle-brif2-path2: "\e91a";
$miracle-dogovor-path1: "\e91b";
$miracle-dogovor-path2: "\e91c";
$miracle-prototype-path1: "\e91d";
$miracle-prototype-path2: "\e91e";
$miracle-design2-path1: "\e91f";
$miracle-design2-path2: "\e920";
$miracle-html-path1: "\e921";
$miracle-html-path2: "\e922";
$miracle-programming-path1: "\e923";
$miracle-programming-path2: "\e924";
$miracle-promotion-path1: "\e925";
$miracle-promotion-path2: "\e926";
$miracle-results-path1: "\e927";
$miracle-results-path2: "\e928";

