.post-card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;

    @media ( max-width: map-get($gw, medium ) ) {
        border-radius: 0;
    }

    a{
        text-decoration: none;
    }

    &__content{
        padding: 1rem 4rem;
        border-radius: 1rem;
        background-color: rgba( 0,0,0,0.75 );
        transition: all .4s ease;
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 40rem;

        &:hover{
            background-color: rgba( map-get($color, primary), 0.9 );

            .post-card__info{
                &-time i, &-date i{
                    color: map-get($color, white);
                }
            }

            .post-card__title{
                color: map-get($color, white);
            }
        }

        @media ( max-width: map-get($gw, large ) ) {
            padding: 1rem;
            min-height: 35rem;
        }

        @media ( max-width: map-get($gw, medium ) ) {
            border-radius: 0;
        }
    }

    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16rem;
        margin-bottom: 2rem;

        @media ( max-width: map-get($gw, medium ) ) {
            display: none;
        }

        &-time, &-date{
            margin: 0;
            color: map-get($color, white);
            font-weight: 400;
            font-size: 1.4rem;

            i{
                font-size: 1.25em;
                margin-right: 0.5rem;
                top: 3px;
                position: relative;
                color: map-get( $color, primary );
                transition: all .4s ease;
            }
        }
    }

    &__title{
        font-size: 2.8rem;
        font-weight: 900;
        color: map-get($color, primary);
        margin: 0 0 3rem;
        padding: 0 8rem;
        text-align: center;
        transition: all .4s ease;
    }

    &__description{
        font-size: 1.8rem;
        font-weight: 400;
        color: map-get($color, white);
        margin: 0;
        text-align: center;
        transition: all .4s ease;
    }
}
